* {
  margin: 0;
  padding: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-areas:
    "header"
    "search"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: #00579C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.electric_car, .nav_bar{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.electric_car ul li, .nav_bar li {
  list-style: none;
  margin: 15px;
  font-weight: 600;
  font-size: 1rem;

}

.electric_car ul li a, .nav_bar li a{
  color: #ffffff;
  text-decoration: none;
}

.fa-solid{
  margin: 5px;
}

.search {
  grid-area: search;
  background-color: #E2E2E2;
  display: flex;
  justify-content: center;
}

main {
  grid-area: main;
  background-color: #FFFFFF;

}

footer{
  grid-area: footer;
  background-color: #012F6B;

}

/*Comienzo Resolución: 576px Móvil*/

@media (max-width: 575px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas:
      "header"
      "search"
      "main"
      "footer";
  }
  .header nav{
    display: none;
  }
}
/*Fin Resolución: 576px Móvil*/

/*Comienzo Resolución: 922px Tablet*/
@media (min-width: 992px) {
  .grid_container {
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
      "header header"
      "search main"
      "footer footer";
  }
}
/*Fin Resolución: 992px Tablet*/

/* Comienzo Resolución: 1280px PC*/

@media (min-width: 1280px) {
  .grid_container {
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-rows: 2fr 20fr 2fr;
    grid-template-areas:
      "header search search"
      "header main main"
      "footer main main";
  }
}
/*Fin Resolución: 1280px PC*/
